<!-- <p>footer works!</p> -->

<div class="container-fluid mt-5 firstFotter mb-0">
    <div class="row FotterA ">
        <div class="col-lg-3 col-md-3 col-10 mt-3 ms-5 ms-lg-4">
            <div class="col-12 mt-4">
                <img 
                src="https://www.lego.com/cdn/cs/set/assets/blt4ca9d171212ccbf2/LEGO-Logo-Ani1b.gif?format=gif&amp;height=55&amp;dpr=1"
                alt="Lego" width="100px"
                class="Imagestyles__Img-m2o9tb-0 jyexzd LegoLogo__ImageStyled-f5i7qr-0 hJlITg MainBarstyles__LegoLogoStyled-sc-1cg7sjw-1 biRVJw"
                />
            </div>
            <div class="col-6 mt-5 UnitedState p-2">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt me-3" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    United Staate
                </a>
            </div>
            <div class="col-12 mt-4">
                <a href="#" class="col-12">Gift Cards</a>
            </div>
            <div class="col-12 mt-4">
                <a href="otherPage.html" class="col-12">LEGO Cataloug</a>
            </div>
        </div>
        <hr class="mt-lg-0 mt-5 d-block d-md-none">
        <div class="col-lg-2 col-md-3 col-10 ms-lg-0 ms-5 me-3">
            <div class="col-12 mt-4">
                <h4 onclick="show2()">ABOUT US</h4>
            </div>
            <div class="col-12 mt-4 rel2">
                <a href="about.html" >About the LEGO Group</a>
            </div>
            <div class="col-12 mt-4 rel2">
                <a href="#" >LEGO® News</a>
            </div>
            <div class="col-12 mt-4 rel2">
                <a href="#">Our Responsibility</a>
            </div>
            <div class="col-12 mt-4 rel2">
                <a href="#">Supply Chain Transparency Statement</a>
            </div>
            <div class="col-12 mt-4 rel2">
                <a href="#">LEGO Product Certification</a>
            </div>
            <div class="col-12 mt-4 rel2">
                <a href="#">LEGO Jobs</a>
            </div>
        </div>
        <hr class="mt-lg-0 mt-3 d-block d-md-none">
        <div class="col-lg-2 col-md-3 col-10 ms-lg-0 ms-5 me-3">
            <div class="col-12 mt-4" >
                <h4 onclick="show()">SUPPORT</h4>
            </div>
            <div class="col-12 mt-4 rel">
                <a href="customer serves.html">Contact Us</a>
            </div>
            <div class="col-12 mt-4  rel">
                <a href="#">Find Building Instructions</a>
            </div>
            <div class="col-12 mt-4 rel">
                <a href="#">Replacement Parts</a>
            </div>
            <div class="col-12 mt-4 rel">
                <a href="#">Shipping and Returns</a>
            </div>
            <div class="col-12 mt-4 rel">
                <a href="#">Payment Methods</a>
            </div>
            <div class="col-12 mt-4 rel">
                <a href="#">Terms & Conditions</a>
            </div>
            <div class="col-12 mt-4 rel">
                <a href="#">Product Recalls</a>
            </div>
        </div>
        <hr class="mt-lg-0 mt-3 d-block d-md-none">
        <div class="col-lg-2 col-md-5 mt-md-5 mt-lg-0 mt-0 col-10 ms-lg-0 ms-5 me-2 me-lg-5">
            <div class="col-12 mt-4">
                <h4 onclick="show3()">ATTRACTIONS</h4>
            </div>
            <div class="col-12 mt-4 rel3">
                <a href="#">LEGO® House</a>
            </div>
            <div class="col-12 mt-4 rel3 ">
                <a href="#">LEGOLAND® Parks</a>
            </div>
            <div class="col-12 mt-4 rel3">
                <a href="#">LEGOLAND Discovery Centers</a>
            </div>
        </div>
        <hr class="mt-lg-0 mt-3 d-block d-md-none">
        <div class="col-lg-2 col-md-5 mt-md-5 mt-lg-0 mt-0 col-10 ms-lg-0 ms-5 ">
            <div class="col-12 mt-4">
                <h4 onclick="show4()">MORE FROM US</h4>
            </div>
            <div class="col-12 mt-4 rel4">
                <a href="#">LEGO® LIFE</a>
            </div>
            <div class="col-12 mt-4 rel4">
                <a href="#">LEGO Education</a>
            </div>
            <div class="col-12 mt-4 rel4">
                <a href="#">LEGO Ideas</a>
            </div>
            <div class="col-12 mt-4 rel4">
                <a href="#">LEGO Foundation</a>
            </div>
            <div class="col-12 mt-4 rel4">
                <a href="#">Affiliate Program</a>
            </div>
            <div class="col-12 mt-4 rel4">
                <a href="#">Student Offers</a>
            </div>
            <div class="col-12 mt-4 rel4">
                <a href="#" >LEGO® Braille Bricks</a>
            </div>
        </div>
        <hr class="mt-lg-0 mt-3 d-block d-md-none">
    </div>
    <div class="row secondFotter justify-content-between mt-5 ms-lg-5">
        <div class="col-lg-3 col-6">
            <p>SUBSCRIBE TO LEGO® SHOP EMAILS</p>
        </div>
        <div class="col-lg-3 col-6 ms-lg-5">
            <p>FOLLOW US</p>
        </div>
    </div>
    <div class="row second2Fotter justify-content-between ms-lg-5 mt-3 mb-5">
        <div class="col-lg-4 col-7">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-secondary" type="button" id="button-addon2">></button>
            </div>
        </div>
        <div class="col-lg-4 col-5 ms-lg-5">
            <div class="row ms-lg-5 ">
                <a href="#" class="col-lg-2 col-3 ms-lg-5">
                    <img src="assets/images/facebook-6314170332a6695eee28eda562077344.svg">
                </a>
                <a href="#" class="col-lg-2 col-3 ">
                    <img src="assets/images/twitter-91fcc80bf2d1a673e4f399dbd4bddc16.svg">
                </a>
                <a href="#" class="col-lg-2 col-3">
                    <img src="assets/images/instagram-79db10f7a4b17956184bcea2203b29ad.svg">
                </a>
                <a href="#" class="col-lg-2 col-3">
                    <img src="assets/images/youtube-d204660a47f84b17514edc412f6e834e.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="row finalFotter mt-5 mb-0 ">
        <div class="col-11 ms-lg-3">
            <a href="#">Privacy Policy</a>
            <a href="#">Cookies</a>
            <a href="#">Legal Notice</a>
            <a href="#">Terms of Use</a>
            <a href="#">Digital Wellbeing</a>
            <a href="#">Accessibility</a>
            <a href="#">Cookie Settings</a>
            <a href="#">Do Not Sell My Personal Information</a>
        </div>
        <div class="col-11 ms-lg-3 mt-4 mb-5">
            <p>LEGO System A/S, DK-7190 Billund, Denmark. Must be 18 years or
                older to purchase online. LEGO, the LEGO logo, the Minifigure,
                DUPLO, LEGENDS OF CHIMA, NINJAGO, BIONICLE, MINDSTORMS and MIXELS
                are trademarks and copyrights of the LEGO Group. ©2020 The LEGO
                Group. All rights reserved. Use of this site signifies your
                agreement to the terms of use.</p>
        </div>
    </div>
</div>
