/* //? 🍓🍓 finally Fotter Section  🍓🍓  .................... */
.firstFotter {
    background-color: #201d48;
  }
  .FotterA h4 {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  .FotterA a {
    color: rgb(224, 209, 209);
    font-size: 16px;
    font-weight: 400;
    font-family: "Cera Pro", sans-serif;
    text-decoration: none;
  }
  .FotterA a:hover {
    text-decoration: underline;
  }
  .UnitedState {
    background-color: #18152d;
  }
  
  .input-group {
    width: 60%;
  }
  .input-group button {
    background-color: #fd8024;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  .input-group button:hover {
    border: 1px solid #fd8024;
    background-color: white;
    color: black;
  }
  .secondFotter p {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  .finalFotter a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-right: 30px;
  }
  .finalFotter a:hover {
    text-decoration: underline;
  }
  .finalFotter p {
    color: white;
    font-size: 12px;
  }