<!-- <p>home works!</p> -->


<!--//? SlideImage Section part2 .... -->
<div class="container-fluid img">
  <div class="row mt-0">
    <div class="col-12 mt-4 pe-5 text-md-end">
      <img class="me-5 mt-5" src="assets/images/real_madrid_logo_pos_300w.png">
    </div>
    <div class="col-12 mt-3 pe-5 text-md-end">
      <h1 class="me-md-5">Match day magic</h1>
    </div>
    <div class="col-6"></div>
    <div class="col-6  mt-3 pe-5 text-md-end">
      <h5 class="me-md-5" style="font-size: 1.125rem;">Build the new LEGO® Santiago Bernabéu Stadium, home of Real
        Madrid C.F.</h5>
    </div>
    <div class="col-12 text-end mt-3 pe-5 mb-5">
      <button type="button" class="btn btn-shop me-5">
        Shop Now
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
        </svg>
      </button>
    </div>
  </div>
</div>


<!--//? SlideImage Section part2 .... -->
<div class="container-fluid links-Content1 mt-md-5">
  <div class="row justify-content-center links-Content">
    <div class="col-md-1 col-3 ">
      <a href="#" class="">
        <img src="assets/images/novelty-2020-06-Quicklink.jpeg">
      </a>
      <a href="#" class="ms-3">
        New
      </a>
    </div>
    <div class="col-md-1 col-3">
      <a href="#" class="">
        <img src="assets/images/GenericExclusives-Circle-Home-2021-Quicklink.png">
      </a>
      <a class="ms-4 " routerLink="/exclusive">
        Exclusive
      </a>
    </div>
    <div class="col-md-1 col-3">
      <a href="#" class="">
        <img src="assets/images/offers_Promos-Home-2021-Quicklink.png">
      </a>
      <a href="#" class="ms-4 ">
        Offers
      </a>
    </div>
    <div class="col-md-1 col-3">
      <a href="#" class="">
        <img src="assets/images/BestSeller-Home-202010-Quicklink.png">
      </a>
      <a href="bestseler.html" class="ms-2">
        Best Sellers
      </a>
    </div>
    <div class="col-md-1 col-3 mt-md-0 mt-4">
      <a href="#" class="">
        <img src="assets/images/21323-Schroeder-202009-Homepage-Quicklink.jpeg">
      </a>
      <a href="#" class="ms-3 ">
        Easter Gifts
      </a>
    </div>
    <div class="col-md-1 col-3 mt-md-0 mt-4">
      <a href="#" class="">
        <img src="assets/images/Easter-Home-202202-Quicklink.png">
      </a>
      <a href="#" class="ms-4">
        Music
      </a>
    </div>
    <div class="col-md-1 col-3 mt-md-0 mt-4">
      <a href="#" class="">
        <img src="assets/images/00-10284-Ball-Homepage-Quicklink.png">
      </a>
      <a href="#" class="ms-4">
        Sports
      </a>
    </div>
    <div class="col-md-1 col-3 mt-md-0 mt-4">
      <a href="#" class="">
        <img src="assets/images/VIPSoftLaunch-Quicklink.jpeg">
      </a>
      <a href="vipPage.html" class="ms-4 ">
        Vip
      </a>
    </div>
  </div>
</div>


<!--//? 🍓🍓 Recommended for you Section  🍓🍓  .... -->
<div class="container-fluid ">
  <div class="row ms-md-5">
    <div class="col-12 Recommended">
      Recommended For You
    </div>
    <div id="carouselExampleIndicators" class="carousel slide col-md-12" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <div class="row">
            <div class="col-3" *ngFor="let pr of proListCat" #pr>
              <div class="card" style="width: 19rem;">
                <div class="head  pb-2">
                  <a href="#" class="mt-2 text-dark ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="rgb(62, 147, 187)"
                      class="bi bi-heart me-4 ms-2" viewBox="0 0 16 16">
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                    Add to wish list
                  </a>
                  <div class="col-8 ms-5" style="height:250px">
                    <img [src]="image(pr.id)" class="card-img-top" alt="..."width="" height="250px">
                  </div>
                  <button type="button" class="btn-warning col-3 ms-3 ">New</button>
                </div>
                <a href="#" class="col-12 mt-3 ms-3">
                  <h6 class="card-title">{{pr.prodName}}</h6>
                </a>
                <div class="card-body">
                  <span class="card-text col-12">{{pr.prodPrice| currency:'USD':'symbol'}}</span>
                  <button class="btn col-12 ms-0 me-0 pt-3 pb-3" (click)="AddtoCart(pr.id)" >add To Bag</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid mt-5 mb-5 pt-5">
  <div class="row ms-5">
    <div class="col-12 Recommended">
      New In
    </div>
    <div id="carouselExampleIndicators" class="carousel slide col-12" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-3"  *ngFor="let pr of proListCat" #pr>
              <div class="card" style="width: 19rem;">
                <div class="head  pb-2">
                  <a href="#" class="mt-2 text-dark ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="rgb(62, 147, 187)"
                      class="bi bi-heart me-4 ms-2" viewBox="0 0 16 16">
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                    Add to wish list
                  </a>
                  <div class="col-8 ms-5" style="height:250px">
                    <img [src]="image(pr.id)" class="card-img-top" alt="..." width="" height="250px">
                  </div>
                  <button type="button" class="btn-warning col-3 ms-3 ">New</button>
                </div>
                <a href="#" class="col-12 mt-3 ms-3">
                  <h6 class="card-title">{{pr.prodName}}</h6>
                </a>
                <div class="card-body">
                  <span class="card-text col-12">{{pr.prodPrice| currency:'USD':'symbol'}}</span>
                  <button class="btn col-12 ms-0 me-0 pt-3 pb-3" (click)="AddtoCart(pr.id)">Add To Bag</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
