/* //? SlideImage Section part2 ......................  */
  
.img {
    font-family: "Cera Pro", sans-serif;
    color: white;
    ///../src/
    background-image: url("/../assets/images/10299-RealMadridStadium-202203-SL-Hero-Standard-Large.jpeg");
    // bg-image: url("assets/images/10299-RealMadridStadium-202203-SL-Hero-Standard-Large.jpeg");
    /* background-size: cover;
    background-position: center; */
    background-repeat: no-repeat;
  }
  // #imgg{
  //   font-family: "Cera Pro", sans-serif;
  //   color: white;
  //   ///../src/
  //   background-image: url("/../assets/images/10299-RealMadridStadium-202203-SL-Hero-Standard-Large.jpeg");
  //   background-repeat: no-repeat;
  // }
  
  .btn-shop {
    font-size: 15px;
    text-align: center;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    margin-bottom: 35px;
    width: 150px;
  }
  .btn-shop:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  
  /* //? SlideImage Section part2 .......................... */
  .links-Content {
    font-size: 12px;
  }
  .links-Content div a:nth-child(2) {
    text-decoration: none;
    color: black;
  }
  .links-Content div a:nth-child(2):hover {
    text-decoration: underline;
    color: rgb(62, 147, 187);
  }
  
  /* //? 🍓🍓 Recommended for you Section 🍓🍓.............................. */
  .Recommended {
    font-size: 32px;
    font-weight: 400;
    font-family: "Cera Pro", sans-serif;
  }
  .card {
    font-family: "Cera Pro", sans-serif;
  }
  .card a:first-child {
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
  }
  .card button {
    font-size: 12px;
    padding: 0px;
  }
  .card a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
  }
  .card a:hover {
    text-decoration: underline;
  }
  .card-text {
    font-size: 18px;
    font-weight: bold;
  }
  .card-body button {
    border: 1px solid #fd8024;
    background-color: #fd8024;
    color: black;
    font-size: 15px;
    font-weight: bold;
  }
  .card-body a:hover {
    background-color: #ffffff;
  }
  .head {
    border: 1px solid rgba(219, 215, 215, 0.856);
  }
  