<!-- <p>about-us works!</p> -->


<section class="text-center container h6 blue pt-5">
  <div class="container text-center text-md-left">
    <h1 class="text-center">About Us</h1>
    <div class="row">
      <div class="m-auto">
        <ul class="list-inline">
          <li class="list-inline-item mb-3">
            <a href="" class="text-decoration-none text-dark">The LEGO Group</a>
          </li>
          <li class="list-inline-item mb-3">
            <a href="" class="text-decoration-none text-dark">Sustainability</a>
          </li>
          <li class="list-inline-item mb-3">
            <a href="" class="text-decoration-none text-dark">Discover</a>
          </li>
          <li class="list-inline-item mb-3">
            <a href="" class="text-decoration-none text-dark">Newsroom</a>
          </li>
          <li class="list-inline-item mb-3">
            <a href="" class="text-decoration-none text-dark">Careers</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="bg-image1 text-center">
    <div class="m-50 caption">
      <h3 class="font-weight-bolder text-dark display-2">
        Only the best is <br />
        good enough
      </h3>
      <p class="h4 text-dark">
        As children shape their own worlds with LEGO bricks, we play our
        part in <br />
        having
        <span class="font-weight-bold">
          a positive impact on the world</span>
        they live in today and will inherit<br />
        in the future.
      </p>
      <br />
      <a class="text-white" href="https://www.lego.com/en-us/aboutus/lego-group">Learn about the LEGO Group ></a>
    </div>
  </div>
</section>

<section>
  <div class="bg-image2 text-center">
    <div class="m-50 caption">
      <h3 class="font-weight-bolder text-white display-4">
        Inspire and Develop the <br />
        Builders of Tomorrow
      </h3>
      <p class="lead text-white">
        LEGO play starts to release a child’s
        <span class="font-weight-bold">potential</span> from the moment they
        pick up their first<br />
        brick.
      </p>
      <br />
      <a class="text-white" href="https://www.lego.com/en-us/aboutus/lego-group">Learn about the LEGO Group ></a>
    </div>
  </div>
</section>

<section>
  <div class="media container ml-3">
    <div class="row">
      <ul class="list-unstyled">
        <li class="media">
          <div class="media-body col-3 history">
            <h1 class="font-weight-bolder">The LEGO History</h1>
            <p class="lead text-md">
              Founded in 1932 by Ole Kirk Kristiansen, and based on the
              iconic LEGO brick, it is one of the world’s leading
              manufacturers of play materials.
            </p>
          </div>
          <!-- <img src="assets/images/about-3.jpg" class="col-8" alt="..." /> -->
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="text-center">
  <h1 class="">18,000+ people in 15 countries</h1>
</div>

<div class="text-center">
  <a class="h5 text-dark" href="https://www.lego.com/en-us/aboutus/lego-group/contact">Contact us ></a>
</div>

<div class="container m-auto">
  <!-- <img src="assets/images/about-4.jpg" alt="" class="img-responsive img" /> -->
</div>

<div class="text-center pb-5">
  <h1 class="mb-2 font-weight-bold">
    Supporting a more creative and resilient <br />
    society
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <!-- <img src="assets/images/logo-lego-education.jpg" style="height:55px" alt=""
        class="img-responsive list-inline" /> -->
      <a class="h5" href="https://education.lego.com/en-us">LEGO Education website ></a>
    </div>
    <div class="col-3 list-inline">
      <!-- <img src="assets/images/logo-lego-foundation.jpg" style="height:55px" 55px; alt="" -->
        class="img-responsive list-inline" />
      <a class="h5" href="https://www.legofoundation.com/en/">LEGO Foundation website ></a>
    </div>
    <div class="col-3 list-inline">
      <!-- <img src="assets/images/logo-lego-house.jpg" style="height:55px" alt="" class="img-responsive" /> -->
      <a class="h5" href="https://legohouse.com/en-gb/">LEGO House website ></a>
    </div>
    <div class="col-3 list-inline">
      <!-- <img src="assets/images/logo-Ventures.jpg" style="height:55px" alt="" class="img-responsive" /> -->
      <a class="h5" href="https://legoventures.com/">LEGO Ventures website ></a>
    </div>
  </div>
</div> 
